body{
    margin:0px;
    background-color: #F3F3ED;
}

p{
    font-size: 30px;
    color: darkred;
}
#ContainerHeader {
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    align-items: center;     /* Centrerer vertikalt */
    height: 300px;           /* Juster højden som nødvendigt */
    border: 1px solid black; /* Kun for at vise containerens kant */
    background-color: peachpuff;
}

#header {
    max-width: 60%;
    height: auto; /* Sørg for, at billedet skalerer korrekt */
}

.menu {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.email {
    margin-left: auto;
    margin-right: 45px;
}
.cart-icon {
    color: #333;
    font-size: 20px;
    margin-right: 45px;
}

.intro-headline{
    font-size: 56px;
    margin-top: 5%;
    margin-left: 15%;
}

.intro-text{
    margin-left: 15%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.menu-drop{
    margin-left: 15%;
}
#bund{
    margin-right: 15%;
}
#topping{
    margin-right: 15%;
}
#antal{
    margin-right: 15%;
}

.menu label {
    font-weight: bold;
    display: block;
}
.menu select {
    padding: 5px;
    width: 15%;
}
.order-button {
    padding:10px 20px;
    font-weight: bold;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 85%;
    margin-top: 10px;
}
.order-button:hover {
    background-color: darkblue;
}