/* Stylesheet for the application - dont' touch */
/* Stylesheet for the application */
*{
    box-sizing: border-box;
}
html, body {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}
#page-container {
    width: 100%;  /* Fill the entire width */
    height: 100%;  /* Optionally fill the entire height */
}

#page-content {
    width: 100%;  /* Ensure full width */
}

header {
    width: 100%;  /* Ensure header fills full width */
}
div{
    width: 100%;
}

header .header-text, .header-container {
    display: flex;  /* Use flex for proper layout */
    padding: 10px;  /* Optional: Add some padding for aesthetics */
    background-color: #f8f8f8;  /* Optional: Set background color */
    width: 100%;
}

.header-bar-left, .header-bar-right {
    display: flex;  /* Use flex for consistent behavior */
    width: 100%;  /* Ensure they fill the available width */
}

.header-bar-left {
    justify-content: flex-start;  /* Align items to the start */
}

.header-bar-right {
    justify-content: flex-end;  /* Align items to the end */
}

.header-link, .cart-icon {
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    margin-left: 5px;
}

.email {
    margin-left: 20px;                    /* Space before the email */
    font-weight: bold;
}

.cart-icon {
    font-size: 24px;
    margin-left: 5px;
}