* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #E4E3DB;
    display: flex;
    flex-direction: column;
}

header .header-text, .admin-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #B76E79;
}

.headerimage, .admin-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#BDB5D5;
}

.left {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}
.right {
    display: flex;
    justify-content: flex-start;
    margin-left: 25%;
}

.header-link, .cart-icon, .email {
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    margin-left: 25%;
}

.email {
    margin-left: 20px;
}

.cart-icon {
    font-size: 24px;
    margin-left: 5px;
}

.admin-link{
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25%;
}

.admin-email{
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    text-align: start;
    background-color: #BDB5D5;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #BDB5D5;
    display: flex;
}

.adresse {
    margin-right: 35px;
    margin-left: 25%;
}

.nummer {
    margin-right: 15%;
}

.åbningstider{
    margin-right: 25%;
    margin-top: 0;
}

 .error {
     color: red;
 }

 .page{
     flex-direction: column;
     display: flex;
     font-weight: bold;
     align-items: center;
     justify-content: center;
 }

