<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin ordrer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>-->

    <style>
        .error {
            color: red;
        }
    </style>

</head>

<body>

<h2>Admin: Se alle ordrer</h2>

<table>
    <tr>
        <th>Ordrenr.</th>
        <th>Navn</th>
        <th>Email</th>
        <th>Dato</th>
        <th>Pris</th>
        <th>Status</th>
    </tr>
    <tr th:each="order: ${allOrders}">
        <td th:text="${order.orderNumber}"></td>
        <td></td>
        <td></td>
        <td th:text="${order.date}"></td>
        <td th:text="${order.price}"></td>
        <td th:text="${order.status}"></td>
    </tr>
</table>

</body>
</html>