<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Ordrenr. ' + ${orderMemberDto.orderNumber}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/images/cupcake.ico">
</head>

<body>
<header th:replace="fragments :: headerAdmin"></header>
<h1 class="admin-centertext" th:text="'Ordrenr. ' + ${orderMemberDto.orderNumber}"></h1>

<table class="admin-tabel">
    <tr>
        <th>Kundenr.</th>
        <th>Navn</th>
        <th>Email</th>
        <th>Dato</th>
        <th>Status</th>
        <th>Pris DKK</th>
    </tr>
    <tr>
        <td th:text="${orderMemberDto.memberId}"></td>
        <td th:text="${orderMemberDto.memberName}"></td>
        <td><a href="adminkunde.html" th:href="@{/adminkunde(kundenr=${orderMemberDto.memberId})}"
               th:text="${orderMemberDto.memberEmail}"></a></td>
        <td th:text="${orderMemberDto.orderDate}"></td>
        <td th:text="${orderMemberDto.orderStatus}"></td>
        <td th:text="${orderMemberDto.orderPrice}"></td>

    </tr>
</table>

<br>
<h2 class="admin-centertext">Ordrelinjer i denne ordre:</h2>

<form class="cart" method="post">
    <table class="cart-table">
        <thead>
        <tr>
            <th>Bund</th>
            <th>Topping</th>
            <th>Antal</th>
            <th>Pris DKK</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderline : ${orderlines}">
            <td th:text="${orderline.bottom.bottomName}"></td>
            <td th:text="${orderline.topping.toppingName}"></td>
            <td th:text="${orderline.quantity}"></td>
            <td th:text="${orderline.orderlinePrice}"></td>
        </tr>
        </tbody>
    </table>
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>