<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
  <title th:text="${title}">Frontpage</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/myevent_eventlist.css" th:href="@{/css/myevent_eventlist.css}" rel="stylesheet"/>
</head>

<body>

<div id="page-container">

  <div id="page-content">
    <header th:fragment="header(bar)">
      <div class="header-bar-left">
        <a href="#" th:class="header-link">Mine ordrer</a>
      </div>
      <div class="header-bar-right">
        <a href="#" th:class="header-link">logud</a>
        <span class="email" th:text="${userEmail}">brugernavn@gmail.com</span>
        <a href="#" th:class="cart-icon">&#128722;</a>
      </div>
    </header>

    <footer th:fragment="footer" class="footer-container">
      <a th:if="${#ctx.session.currentUser} == null" th:href="@{/createuser}">Create account</a>
      <a th:if="${#ctx.session.currentUser} != null" th:href="@{/logout}">Logout</a>
      <a href="/public" class="footer-item">Home</a>
    </footer>
  </div>
</div>
</body>
</html>
