<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>-->

    <style>
        .error{
            color: red;
        }
    </style>

</head>

<body>

<h1>Velkommen til Olsker Cupcakes</h1>
<h2>Log på med din email og kodeord</h2>

<form method="post">

    <label for="email">Brugernavn</label><br>
    <input type="email" id="email" name="email" placeholder="Email" required/><br>

    <label for="password">Kodeord</label><br>
    <input type="password" id="password" name="password" placeholder="Kodeord" required/><br>

    <p class="error" th:text="${message}"></p>

    <button type="submit" formaction="/login">Login</button>

</form>

<p>Ikke bruger endnu? <a href="opretbruger.html" th:href="@{/opretbruger}">Opret bruger</a></p>

</body>
</html>
