<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Opret bruger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/images/cupcake.ico">
</head>

<body>

<header>
    <div class="headerimage">
        <img th:src="@{/images/logo.png}" src="/public/images/logo.png" width="100" height="100"/>
        <img th:src="@{/images/cupcakelogo.png}" src="/public/images/cupcakelogo.png" width="30%" height="30%"/>
    </div>
</header>
<div class="page">
<h2>Opret bruger</h2>

<form method="post">

    <label for="name">Fulde navn</label><br>
    <input type="text" id="name" name="name" placeholder="Fulde navn" required/><br>

    <label for="opret-email">Email adresse</label><br>
    <input type="email" id="opret-email" name="email" placeholder="Email" required/><br>

    <label for="mobile">Mobil</label><br>
    <input type="text" id="mobile" name="mobile" placeholder="Mobil" required/><br>

    <label for="password1">Adgangskode</label><br>
    <input type="password" id="password1" name="password1" placeholder="Adgangskode" required/><br>

    <label for="password2">Gentag adgangskode</label><br>
    <input type="password" id="password2" name="password2" placeholder="Adgangskode" required/><br>

    <p class="error" th:text="${message}"></p>

    <button class="opret-knap" type="submit" formaction="/opretbruger">Opret bruger</button>
</form>

<footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>